use flake .

export RABBITMQ_CONFIG_FILES="$PWD/.rabbitmq/config"
export RABBITMQ_MNESIA_BASE="$PWD/.rabbitmq/mnesia"
export RABBITMQ_LOGS="$PWD/.rabbitmq/log"
export RABBITMQ_PID_FILE="$PWD/.rabbitmq/pid"
export RABBITMQ_ENABLED_PLUGINS_FILE="$PWD/.rabbitmq/enabled"

mkdir -p "$RABBITMQ_CONFIG_FILES"
mkdir -p "$RABBITMQ_MNESIA_BASE"

# export RABBITMQ_LOG_BASE="$PWD/.rabbitmq/logs"
# mkdir -p "$RABBITMQ_LOG_BASE"
