*

!*.*
!*/
!dune
!dune-project

!README
!Makefile
!LICENSE

**/__pycache__
*_cache*
*.swp
*.gz
*.zip
.classpath
**/.gitignore
.idea/
.project
.settings/
.direnv/
_build

*.out
*.class
*.o
*.a
*.so

!/.gitignore

/sysopy/**/*.test
/sysopy/**/*.diff
/sysopy/**/pomiar*
!/sysopy/tests/**/file*
/sysopy/**/results*
/sysopy/**/test*
!/sysopy/**/test*.sh
!/sysopy/tests

/mownit/**/*.pdf

Manifest.toml

!/kompilatory/**/tests/*
!/kompilatory/.bin/*

!/tw/.bin/*
/tw/**/*.html
/tw/*/*_files/*.js
/tw/**/*.jpg
