*

!*.*
!*/
!dune
!dune-project

!README
!Makefile
!LICENSE

**/__pycache__
*_cache*
.cache/
*.swp
*.gz
*.zip
.classpath
**/.gitignore
.idea/
.project
.settings/
.direnv/
_build
target/
META-INF
.gradle
!gradle/wrapper/gradle-wrapper.jar
!gradlew
build/
kls_database.db
.metals
html_files/

*.out
*.class
*.o
*.a
*.so

!/.gitignore

/sysopy/**/*.test
/sysopy/**/*.diff
/sysopy/**/pomiar*
!/sysopy/tests/**/file*
/sysopy/**/results*
/sysopy/**/test*
!/sysopy/**/test*.sh
!/sysopy/tests
/sysopy/**/*.html

/mownit/**/*.pdf
/mownit/**/**/*.html
/mownit/**/**/*.js
/mownit/*/*_files/

Manifest.toml

!/kompilatory/**/tests/*
!/kompilatory/.bin/*
/kompilatory/**/*.pdf

!/tw/.bin/*
/tw/**/*.html
/tw/*/*_files/*.js
/tw/**/*.jpg
/tw/**/*.png
/tw/**/*.dot
!/tw/**/tests/*

bck
