*

!*.*
!*/

!README
!Makefile
!LICENSE

**/__pycache__
*_cache*
*.swp
*.gz
*.zip
.classpath
**/.gitignore
.idea/
.project
.settings/

*.out
*.class
*.o
*.a
*.so

sysopy/**/*.test
sysopy/**/*.diff
sysopy/**/pomiar*
