# use flake 'nixpkgs#jdk17'
use nix default.nix

export _SILENT_JAVA_OPTIONS="$_JAVA_OPTIONS"
# export _JAVA_OPTIONS=
unset _JAVA_OPTIONS
export PATH="$PATH:.bin"

# performance :(
export JAVA_OPTS="$JAVA_OPTS -Xmx2G -Xms32M"
