body {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  width: 100vw;
  height: 100vh;
}

input {
  margin: 2em 0 0 0;
  font-size: 1em;
}

iframe {
  border: 0;
}

#form {
  width: 100vw;
  height: 100vh;
}

#responses {
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  text-align: center;
  align-items: center;
}

#inputs {
  margin: 25vh 0 0 0;
  width: 100vw;
  /* height: 25vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex-basis: auto;
}

#dummy {
  width: 100vw;
  height: 100vh;
}

#comic {
  max-height: 80vh;
  max-width: 100vw;
  margin: 5vh auto 0 auto;
  display: block;
}

#joke {
  margin-top: 5vh;
  height: 10vh;
  text-align: center;
}
