__OS="$(awk -F'=' '/^NAME=/ {print $2}' /etc/os-release 2>/dev/null)"
__NIX_FILE="https://gitlab.com/Rellikeht/environments/-/raw/main/nixos_python_simple/nixos.shell.nix"
if [ "$__OS" = "NixOS" ]; then
    use flake .
fi

export OCTAVE_PATH="$OCTAVE_PATH:$PWD/programy:$PWD/rozwiązania"
layout julia
