use flake .

export ZOO_LOG_DIR="$PWD/zklog"
mkdir -p "$ZOO_LOG_DIR"

# export PATH="$PWD/.bin:$PATH"
# if [ -z "$CLASSPATH" ]; then
#     export CLASSPATH="$PWD/.bin/*"
# else
#     export CLASSPATH="$PWD/.bin/*:$CLASSPATH"
# fi
